# JetBrains IDEs
.idea/
*.iws
*.iml
*.ipr

# OS files
.DS_Store
Thumbs.db

# Build artifacts (General)
out/
dist/
build/
bin/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
app/venv/

# Project specific
log/
